@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital@1&family=Kaushan+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.login-container {
  background-color: #00a7f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
}
.login-heading {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .login-heading {
    font-size: 32px;
  }
}
.login-img {
  width: 300px;
  height: 300px;
}
@media screen and (min-width: 768px) {
  .login-img {
    width: 600px;
    height: 400px;
  }
}
.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-field {
  width: 300px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 6px;
  color: #3b4856;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
  border-width: 0px;
  margin-bottom: 8px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .input-field {
    width: 500px;
    height: 40px;
  }
}
.sign-up-button {
  background-color: #3b4856;
  color: #ffffff;
  border-width: 0px;
  border-radius: 5px;
  text-align: center;
  width: 120px;
  height: 40px;
  cursor: pointer;
  outline: none;
  margin-top: 10px;
  margin-bottom:10px;
}
.home-container {
  background-color: #00c3f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.navbar-container{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top:20px;
} 
.icon{
  margin-left:10px;
  margin-right:10px;
} 
.home-heading{
  color:#ffffff;
  margin-top: 40px;
  margin-left: 20px;
  align-self: flex-start;
}
.slide{
  width:300px;
  height:200px;
  background-color:#eae8ea;
  border-radius: 10px;
}
@media screen and (min-width:768px){
  .slide{
    width:600px;
    height:300px;
  }
}
.slick-prev,
.slick-next {
  top: 100%;
  transform: translateY(-50%);
}
.text{
  text-align: center;
  padding-top:40px;
}
.content-container{
  width:95%;
  height:200px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-top:40px;
  position: relative;
} 
@media screen and (min-width:768px){
  .content-container{
    width:600px;
    height:400px;
  }
}
.overlay-image-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index:1; 
}

.overlay-image{
  width: 60px; /* Set the width as needed */
  display: block;
  margin-left:20px;
  margin-top:0px;
}
.learning-para{
  color:#ffffff;
  font-size:18px;
} 
@media screen and (min-width:768px){
  .learning-para{
    font-size: 24px;
  }
}